[Unit]
Description=Circonus Agent Daemon
Documentation=http://github.com/circonus-labs/circonus-agent
After=network.target

[Service]
ExecStart=/opt/circonus/agent/sbin/circonus-agentd --plugin-dir=/opt/circonus/nad/etc/node-agent.d --reverse --api-key=cosi
Restart=always
User=nobody

[Install]
WantedBy=multi-user.target

#
#[root@centos7 agent]# cat /usr/lib/systemd/system/circonus-agent.service
#
