[Unit]
Description=Circonus Agent Daemon
Documentation=http://github.com/circonus-labs/circonus-agent
After=network.target

[Service]
ExecStart=@@SBIN@@/circonus-agentd
Restart=always
User=nobody

[Install]
WantedBy=multi-user.target
